.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #4B4453;
    width: 100%;
    height: 2.7rem;
    position: fixed;
    top:5px;
}
.btn{
    background-color: #4B4453;
    color: #B0A8B9;
}