.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #9B3922;
    width: 100%;
    height: 2.7rem;
    position: fixed;
    top:5px;
}
.btn{
    background-color: #9B3922;
    color: #B0A8B9;
}
#coffee, #juice, #esspresso, #milk-tea, #special {
    scroll-margin-top: 60px; /* Thay 100px bằng chiều cao Navbar của bạn + 20px dự phòng */
}