.menuCoffee{
    width: 13rem;
    height: fit-content;
    background-color: #D3C4BE;
    color: #2C2C2C;
    font-size: 20px;
    font-family: serif;
    border-radius: 8px;
    border-color: #845EC2;
}
.btn-add{
    font-size: 15px;
    width: 0.5rem;
    height: 2rem;
    background-color: #9B89B3;
    margin-bottom: 10px;
}